

html,
body{
    height: 100%;
    padding: 0;
    margin:20;
}
body{
    background-color: hsl(30, 38%, 92%);
    margin: 30px; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 100vh;
    max-width: 120vh;
    min-width: 120vh;
    margin: auto;
    width: auto;
}
.leftSideitem{
    height: 500px;
    width: 300px;
}

.rightSideItem{
    height: 500px;
    width: 350px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 3px;
}

.image img{
    height: 500px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    width: 350px;
}

.itemType{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    margin-top: 30px;
    margin-left: 30px;
}

.itemTitle{
    font-family: 'Fraunces', serif;
    padding-top: 0px;
    margin: 0px !important;
    line-height: 35px;
    margin-left: 30px !important;
    color: hsl(0, 0%, 11%);
    max-width: 220px;
}

.itemDescription{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 25px;
    min-width: 230px;
    margin-left: 30px;
    max-width: 175px;
}

.itemCost{
    margin-top: 30px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    display: flex;
    margin-left: 30px;
}

.itemCost::after{
    font-family: 'Montserrat', sans-serif;
    content: "$169.99";
    height: 39px;
    font-size: 12px;
    margin: auto 20px;
    text-align: center;
    padding-top: 20px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-weight: lighter;
}

.shopButton button{
    margin-top: 5px;
    background-color: hsl(158, 36%, 37%);
    border: 0px;
    min-width: 80%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 30px;
}

.shopButton button:hover{
    background-color: hsl(159, 36%, 17%);
}

.shopButton button img{
    padding-top: 10px;
    margin-right: 7px;
}

@media screen and (max-width: 375px) {
    body{
        margin: 20px;
    }
    .container{
        flex-direction: column;
        min-width: 40vh;
    }

    .itemTitle{
        margin-top: 0 !important;
        max-width: none;
    }

    .itemDescription{
        max-width: 300px;
    }

    .rightSideItem{
        margin-top: -5px;
        width: 350px;
        border-radius: 0 0 10px 10px;
        height: 425px;
    }

    .image img{
        content: url(/images/image-product-mobile.jpg);
        width: 350px;
        height: 250px;
        border-radius: 10px 10px 0 0 ;
        margin: auto;
    }

    .itemCost{
        margin-top: -10px;
    }
}